[submodule "roles/dotfiles/files/.vim/pack/dtw/start/command-t"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/command-t
	url = https://github.com/wincent/command-t
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-colors-solarized"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/ale"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/ale
	url = https://github.com/w0rp/ale
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-coffee-script"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/rust.vim"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vcs-jump"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vcs-jump
	url = https://github.com/wincent/vcs-jump
[submodule "ferret"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/ferret
	url = https://github.com/wincent/ferret
[submodule "vim-slime"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "eunuch"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "commentary"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "tmux-fpp"]
	path = roles/dotfiles/files/.tmux/plugins/tmux-fpp
	url = https://github.com/tmux-plugins/tmux-fpp
