[submodule "roles/dotfiles/files/.vim/pack/dtw/start/command-t"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/command-t
	url = https://github.com/wincent/command-t
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-colors-solarized"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/ale"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/ale
	url = https://github.com/w0rp/ale
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-coffee-script"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/rust.vim"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vcs-jump"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vcs-jump
	url = https://github.com/wincent/vcs-jump
[submodule "ferret"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/ferret
	url = https://github.com/wincent/ferret
[submodule "eunuch"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "commentary"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "tmux-fpp"]
	path = roles/dotfiles/files/.tmux/plugins/tmux-fpp
	url = https://github.com/tmux-plugins/tmux-fpp
[submodule "tmux-copycat"]
	path = roles/dotfiles/files/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux-open"]
	path = roles/dotfiles/files/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "selecta"]
	path = roles/dotfiles/deps/selecta
	url = https://github.com/garybernhardt/selecta
[submodule "material"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/material.vim
	url = https://github.com/kaicataldo/material.vim
[submodule "lightline"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "yaml.vim"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/yaml.vim
	url = https://github.com/vim-scripts/yaml.vim
[submodule "vim-gh-line"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/neoterm"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/neoterm
	url = https://github.com/kassio/neoterm.git
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/srcery-vim"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/srcery-vim
	url = https://github.com/srcery-colors/srcery-vim
[submodule "roles/dotfiles/files/.tmux/plugins/srcery-tmux"]
	path = roles/dotfiles/files/.tmux/plugins/srcery-tmux
	url = https://github.com/srcery-colors/srcery-tmux/
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-nix"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-classpath"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-classpath
	url = https://github.com/tpope/vim-classpath
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/plenary.nvim"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/nvim-cmp"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/nvim-lspconfig"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/cmp-nvim-lsp"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/vim-vsnip"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/cmp-vsnip"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/cmp-buffer"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/cmp-path"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "roles/dotfiles/files/.vim/pack/dtw/start/cmp-nvim-lsp-signature-help"]
	path = roles/dotfiles/files/.vim/pack/dtw/start/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help
